.Deck {
    text-align: center;
  }
  
  .drawCard {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 0 10px;
  }
  
  .drawCard:hover {
    cursor: pointer;
    background-color: #444;
  }
  
  .drawCard:active,
  .drawCard:focus {
    outline: none;
  }
  
  .cards {
    margin-top: 80px;
  }